@charset "UTF-8";




html.textoMaior {
  font-size: 150%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body::-webkit-scrollbar {
  background: linear-gradient(180deg,
      #fb5,
      #fb5,
      white,
      white,
      white,
      white,
      white,
      #fb5,
      #fb5);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0 0.5);
  border-radius: 10px;
  height: 80px;
}

body {
  position: relative;
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

div.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {

  grid-column: 1 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: #fb5;
  position: fixed;
  z-index: 1;
  right: 0;
  top : 20px;
  width: 30vw;
}


.menu ul {
  width: 30vw;
  width: 30vw;
  flex-wrap: wrap;
  padding: 5px 10px;

}

.menu  li  a,
.menu li {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: inherit;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
}

a,
.menu > li {
  transition: 0s all ease;
}

.menu > ul:hover {
  color: #ffffff;
}

.menu > ul:hover  a:hover {
  color: #000;
  text-decoration: underline;
}

.grid-section {
  box-sizing: border-box;
  grid-column: 2 / 4;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-family: "Playfair Display SC", serif;
  font-size: 5rem;
  line-height: 1;
  /* text-transform: uppercase; */
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 3;
  max-width: 30vw;
}

.animais p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.animais h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: #e54;
}

.animais h2::before {
  content: " ";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.animais-lista {
  display: block;
  max-height: 400px;
  max-width: 400px;
  overflow-y: auto;
  grid-column: 1/3;
}

ul.animais-lista {
  display: inline;
  border: 4px solid #fb5;
  padding: 0 10px;
  border-radius: 15px;
  box-shadow: inset 0 0 10px 2px;
}

.animais-lista img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 15px;
}

.animais-lista img:hover {
  transform: scale(92.5%, 92.5%);
  transition: 0.5s;
}

.animais-lista li:hover {
  display: inline-block;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.carrossel-container {
  width: 100%;
  overflow: hidden;
}

.carrossel {
  display: flex;
  animation: rolar-carrossel 10s infinite linear;
}

.carrossel li {
  flex: 0 0 100%;
}

.animais-lista::-webkit-scrollbar {
  width: 14px;
  border-radius: 50px;
}

.animais-lista::-webkit-scrollbar-thumb {
  background-color: #fb5;
  /* border: 2px solid rgba(0, 0, 0, 0.243); */
  border-radius: 15px;
}

.animais-descricao {
  grid-column: 3 / 5;
}

.animais-descricao section {
  margin-bottom: 3rem;
}

.faq-lista {
  grid-column: 2 / 4;
}

.faq-lista dt {
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
  cursor: pointer;
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;

}

.faq-lista dd {
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 0.5rem;
  margin-left: 30px;  
  animation: EntradaFaq .5s forwards;
}


@keyframes EntradaFaq {
  0%{
    opacity: 0;
    transform: translate3d(0,-30px,0);
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
  
}

.mapa {
  grid-column: 2;
}

.dados {
  grid-column: 3;
}

.dados li {
  font-family: "IBM Paly Mono" monospace;
  color: #222;
  font-weight: 400;
  padding: 15px;
  margin: 5px;
}

.dados li::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.copy {
  grid-column: 1/5;
  text-align: center;
  background-color: #fb5;
}

.copy p {
  padding: 15px 30px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .menu,
  .grid-section,
  .copy {
    grid-column: 1fr;
  }

  .grid-section {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .animais-lista {
    grid-column: 2/5;
    margin: 0 auto;
  }

  .faq-lista,
  .dados,
  .mapa {
    grid-column: 1/3;
  }

  .grid-section h1 {
    font-size: 2rem;
  }

  .menu {
    margin-top: 0;
  }
}

a {
  padding: 15px !important;
  margin: 5px !important;
}

.animais-lista LI {
  cursor: pointer;
}

/* js-function */

.js [data-tab="content"] section {
  display: none;
}

.js [data-tab="content"] section.ativo.show-right {
  display: block !important;
  animation: show-right 0.5s forwards;
}

.js [data-tab="content"] section.ativo.show-down {
  display: block !important;
  animation: show-down 0.5s forwards;
}

@keyframes show-right {
  0% {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    max-height: 0;
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    max-height: 500px;
  }
}

@keyframes show-down {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
    max-height: 0;
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    max-height: 500px;
  }
}

.js [data-anime="accordion"] dt::after {
  content: "⤵";
  margin-left: 15px;
}

.js [data-anime="accordion"] dt.ativo::after {
  content: "⤴";
  margin-left: 15px;
}

.js [data-anime="accordion"] dd {
  display: none;
}

.js [data-anime="accordion"] dd.ativoFaq {
  display: block;
  animation: EntradaFaq 0.5s forwards;
  font-size: 1.187em;
}

.js [data-anima="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.2s;
}

.js [data-anima="scroll"].ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 0.5s;
}